body {
  background: #f4f4f4;
}

p.error {
  color: red;
}

#imageBox {
  margin: auto;
  width: 70%;
  background-color: #b1d0d5;
  padding: 25px;
}

input[type=submit] {
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  font: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f4f4f4;
}
