{% extends 'base.html' %}
{% block content %}

  <div id="imageBox">
    <form action="/score" method="post" enctype="multipart/form-data">
      <span class="btn btn-default btn-file">
        <input type="file" name="image">
      </span>

      <br><br><br />
      <div class="centered">
        <div class="float-left">
          <input type="radio" name="gender" value="M" />Male<br />
          <input type="radio" name="gender" value="F" />Female<br />
          <input type="radio" name="gender" value="M" checked />Other
        </div>
        <div>
          <input type="submit" value="Score my Outfit" class="btn btn-primary">
        </div>
      </div>

    </form>

    <p class="error">
      {{ error }}
    </p>

  </div>

{% endblock %}
