{% extends 'base.html' %}
{% block content %}

    <div id="imageBox">
        <img src="{{ url_for('static', filename=filename) }}"/>
        <p>Style Score: {{ score }}<br>
            Appropriateness Score: {{ ascore }}
        </p>

        <form action="/" method="get" enctype="multipart/form-data">
            <input type="submit" value="Submit Another Outfit" class="btn btn-primary">
        </form>

        <form action="/feedback" method="get" enctype="multipart/form-data">
            <input type="submit" value="Give Feedback" class="btn btn-primary">
        </form>

    </div>

{% endblock %}
